In [158]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import warnings
def custom_warning_format(message, category, filename, lineno, file=None, line=None):
    return f'{filename}:{lineno}: {category.__name__}: {message}\n'

In [159]:
x1 = pd.read_csv('C:/Users/FRANK/Desktop/Proyectos Linkedin/Python Proyectos/Dia 7/euro_summary.csv', sep=';')
x2 = pd.read_csv('C:/Users/FRANK/Desktop/Proyectos Linkedin/Python Proyectos/Dia 7/Uefa Euro Cup General Statistics.csv', sep=';')
x3 = pd.read_csv('C:/Users/FRANK/Desktop/Proyectos Linkedin/Python Proyectos/Dia 7/Uefa Euro Cup Participated Teams General Statistics.csv')
x1.rename(columns={'Year': 'Year'}, inplace=True)
# Fusionar x1 y x2 usando la columna 'Year'
merged_1_2 = pd.merge(x1, x2, on='Year', how='outer')

In [160]:
print('Número de observaciones (filas) = {}'.format(merged_1_2.shape[0]))
print('Total de variables disponibles (columnas) = {} '.format(merged_1_2.columns.shape[0]))
print('Columnas que cuentan con un valor nulo -')
print(merged_1_2.isnull().sum())

Número de observaciones (filas) = 17
Total de variables disponibles (columnas) = 18
Columnas que cuentan con un valor nulo -
Year                         0
winner                       0
final                        0
result                       0
matches                      0
goals                        0
red_cards                    0
attendance                   0
attendance_avg               0
result_1                     1
result_2                     1
penal_1                      1
penal_2                      1
Host                         2
Champion                     2
Winning coach                2
Top scorer(s)                2
Player of the Tournament    11
dtype: int64

In [161]:
merged_1_2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17 entries, 0 to 16
Data columns (total 18 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Year                      17 non-null     int64
 1   winner                    17 non-null     object
 2   final                     17 non-null     object
 3   result                    17 non-null     object
 4   matches                   17 non-null     int64
 5   goals                     17 non-null     int64
 6   red_cards                 17 non-null     int64
 7   attendance                17 non-null     int64
 8   attendance_avg            17 non-null     float64
 9   result_1                  16 non-null     float64
 10  result_2                  16 non-null     float64
 11  penal_1                   16 non-null     float64
 12  penal_2                   16 non-null     float64
 13  Host                      15 non-null     object
 14  Champion                  15 non-null     object
 15  Winning coach             15 non-null     object
 16  Top scorer(s)             15 non-null     object
 17  Player of the Tournament  6 non-null      object
dtypes: float64(5), int64(5), object(8)
memory usage: 2.5+ KB

In [162]:
merged_1_2 = merged_1_2.drop(columns=['Winning coach','Top scorer(s)','Player of the Tournament','result'])

In [163]:
merged_1_2.loc[15,'Champion'] = 'Italy' 
merged_1_2.loc[15,'Host'] = 'England'
merged_1_2.loc[16,'Host'] = 'Germany'
merged_1_2[['winner', 'final']] = merged_1_2[['winner', 'final']].replace('USSR', 'Russia')

In [164]:
merged_1_2.head(50)

,Year,winner,final,matches,goals,red_cards,attendance,attendance_avg,result_1,result_2,penal_1,penal_2,Host,Champion
0,1960,Russia,USSR - Yugoslavia,4,17,0,78958,19739.50,2.0,1.0,0.0,0.0,France,Soviet Union
1,1964,Spain,Spain - USSR,4,13,0,156253,39063.25,2.0,1.0,0.0,0.0,Spain,Spain
2,1968,Italy,Italy - Yugoslavia,5,7,1,260936,52187.20,2.0,0.0,0.0,0.0,Italy,Italy
3,1972,West Germany,West Germany - USSR,4,10,0,106510,26627.50,3.0,0.0,0.0,0.0,Belgium,West Germany
4,1976,Czechoslovakia,Czechoslovakia - West Germany,4,19,3,106087,26521.75,2.0,2.0,0.0,0.0,Yugoslavia,Czechoslovakia
5,1980,West Germany,Belgium - West Germany,14,27,0,350655,25046.79,1.0,2.0,5.0,3.0,Italy,West Germany
6,1984,France,France - Spain,15,41,3,599655,39977.00,2.0,0.0,0.0,0.0,France,France
7,1988,Netherlands,USSR - Netherlands,15,34,0,849844,56656.27,0.0,2.0,0.0,0.0,West Germany,Netherlands
8,1992,Denmark,Denmark - Germany,15,32,0,429833,28655.53,2.0,0.0,0.0,0.0,Sweden,Denmark
9,1996,Germany,Czechia - Germany,31,64,7,1276171,41166.81,1.0,2.0,0.0,0.0,England,Germany
10,2000,France,France - Italy,31,85,8,1126443,36336.87,2.0,1.0,0.0,0.0,Belgium Netherlands,France
11,2004,Greece,Portugal - Greece,31,77,6,1150802,37122.65,0.0,1.0,0.0,0.0,Portugal,Greece
12,2008,Spain,Germany - Spain,31,77,3,1143529,36888.03,0.0,1.0,0.0,0.0,Austria Switzerland,Spain
13,2012,Spain,Spain - Italy,31,76,3,1440613,46471.39,4.0,0.0,0.0,0.0,Poland Ukraine,Spain
14,2016,Portugal,Portugal - France,51,108,3,2427303,47594.18,1.0,0.0,0.0,0.0,France,Portugal
15,2020,Italy,Italy - England,51,142,6,1100278,21574.08,1.0,1.0,3.0,2.0,England,Italy
16,2024,-,W49 - W50,51,0,0,0,0.00,NaN,NaN,NaN,NaN,Germany,NaN

In [165]:
# Remplazamos la palabra USSR por Rusia y Soviet Union por Rusia
merged_1_2[['team1', 'team2']] = merged_1_2['final'].str.split(' - ', expand=True)
merged_1_2[['team1','team2']] = merged_1_2[['team1','team2']].replace('USSR','Russia')
merged_1_2[['team1','team2']] = merged_1_2[['team1','team2']].replace('USSR','Russia')
merged_1_2[['Champion']] = merged_1_2[['Champion']].replace('Soviet Union','Russia')
# Eliminamos la columna final
merged_1_2 = merged_1_2.drop(columns=['final'])

# Remplazamos la palabra West Germany por Germany
merged_1_2[['winner','Host','Champion','team1','team2']] = merged_1_2[['winner','Host','Champion','team1','team2']].replace('West Germany','Germany')

In [166]:
merged_1_2

,Year,winner,matches,goals,red_cards,attendance,attendance_avg,result_1,result_2,penal_1,penal_2,Host,Champion,team1,team2
0,1960,Russia,4,17,0,78958,19739.50,2.0,1.0,0.0,0.0,France,Russia,Russia,Yugoslavia
1,1964,Spain,4,13,0,156253,39063.25,2.0,1.0,0.0,0.0,Spain,Spain,Spain,Russia
2,1968,Italy,5,7,1,260936,52187.20,2.0,0.0,0.0,0.0,Italy,Italy,Italy,Yugoslavia
3,1972,Germany,4,10,0,106510,26627.50,3.0,0.0,0.0,0.0,Belgium,Germany,Germany,Russia
4,1976,Czechoslovakia,4,19,3,106087,26521.75,2.0,2.0,0.0,0.0,Yugoslavia,Czechoslovakia,Czechoslovakia,Germany
5,1980,Germany,14,27,0,350655,25046.79,1.0,2.0,5.0,3.0,Italy,Germany,Belgium,Germany
6,1984,France,15,41,3,599655,39977.00,2.0,0.0,0.0,0.0,France,France,France,Spain
7,1988,Netherlands,15,34,0,849844,56656.27,0.0,2.0,0.0,0.0,Germany,Netherlands,Russia,Netherlands
8,1992,Denmark,15,32,0,429833,28655.53,2.0,0.0,0.0,0.0,Sweden,Denmark,Denmark,Germany
9,1996,Germany,31,64,7,1276171,41166.81,1.0,2.0,0.0,0.0,England,Germany,Czechia,Germany
10,2000,France,31,85,8,1126443,36336.87,2.0,1.0,0.0,0.0,Belgium Netherlands,France,France,Italy
11,2004,Greece,31,77,6,1150802,37122.65,0.0,1.0,0.0,0.0,Portugal,Greece,Portugal,Greece
12,2008,Spain,31,77,3,1143529,36888.03,0.0,1.0,0.0,0.0,Austria Switzerland,Spain,Germany,Spain
13,2012,Spain,31,76,3,1440613,46471.39,4.0,0.0,0.0,0.0,Poland Ukraine,Spain,Spain,Italy
14,2016,Portugal,51,108,3,2427303,47594.18,1.0,0.0,0.0,0.0,France,Portugal,Portugal,France
15,2020,Italy,51,142,6,1100278,21574.08,1.0,1.0,3.0,2.0,England,Italy,Italy,England
16,2024,-,51,0,0,0,0.00,NaN,NaN,NaN,NaN,Germany,NaN,W49,W50

In [167]:
merged_1_2['winner'].unique()

array(['Russia', 'Spain', 'Italy', 'Germany', 'Czechoslovakia', 'France',
       'Netherlands', 'Denmark', 'Greece', 'Portugal', '-'], dtype=object)

In [168]:
merged_1_2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17 entries, 0 to 16
Data columns (total 15 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Year            17 non-null     int64
 1   winner          17 non-null     object
 2   matches         17 non-null     int64
 3   goals           17 non-null     int64
 4   red_cards       17 non-null     int64
 5   attendance      17 non-null     int64
 6   attendance_avg  17 non-null     float64
 7   result_1        16 non-null     float64
 8   result_2        16 non-null     float64
 9   penal_1         16 non-null     float64
 10  penal_2         16 non-null     float64
 11  Host            17 non-null     object
 12  Champion        16 non-null     object
 13  team1           17 non-null     object
 14  team2           17 non-null     object
dtypes: float64(5), int64(5), object(5)
memory usage: 2.1+ KB

In [169]:
print('Columnas que cuentan con un valor nulo -')
print(merged_1_2.isnull().sum())

Columnas que cuentan con un valor nulo -
Year              0
winner            0
matches           0
goals             0
red_cards         0
attendance        0
attendance_avg    0
result_1          1
result_2          1
penal_1           1
penal_2           1
Host              0
Champion          1
team1             0
team2             0
dtype: int64

In [170]:
x3.head()

,Rank,Team,Participations,Played,Win,Draw,Loss,Goal_For,Goal_Against,Goal_Difference,Points,Points/match
0,1,Germany,12,49,26,12,11,72,48,24,90,1.84
1,2,France,9,39,20,9,10,62,44,18,69,1.77
2,3,Spain,10,40,19,11,10,55,36,19,68,1.70
3,4,Italy,9,38,16,16,6,39,27,12,64,1.68
4,5,Portugal,7,35,18,9,8,49,31,18,63,1.80

In [171]:
# Cambiamos el nombre winner por Team
merged_1_2.rename(columns={'winner':'Team'}, inplace=True)

In [172]:
equipos_ganadores = ['Russia','Spain','Italy', 'Germany','Czechoslovakia', 'France',
       'Netherlands','Denmark','Greece','Portugal']

equipos_ganadores_df = pd.DataFrame(equipos_ganadores, columns=['Team'])

df2 = pd.merge(equipos_ganadores_df,merged_1_2,on='Team',how='outer')

In [173]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17 entries, 0 to 16
Data columns (total 15 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Team            17 non-null     object
 1   Year            17 non-null     int64
 2   matches         17 non-null     int64
 3   goals           17 non-null     int64
 4   red_cards       17 non-null     int64
 5   attendance      17 non-null     int64
 6   attendance_avg  17 non-null     float64
 7   result_1        16 non-null     float64
 8   result_2        16 non-null     float64
 9   penal_1         16 non-null     float64
 10  penal_2         16 non-null     float64
 11  Host            17 non-null     object
 12  Champion        16 non-null     object
 13  team1           17 non-null     object
 14  team2           17 non-null     object
dtypes: float64(5), int64(5), object(5)
memory usage: 2.1+ KB

In [174]:
df2.head(50)

,Team,Year,matches,goals,red_cards,attendance,attendance_avg,result_1,result_2,penal_1,penal_2,Host,Champion,team1,team2
0,-,2024,51,0,0,0,0.00,NaN,NaN,NaN,NaN,Germany,NaN,W49,W50
1,Czechoslovakia,1976,4,19,3,106087,26521.75,2.0,2.0,0.0,0.0,Yugoslavia,Czechoslovakia,Czechoslovakia,Germany
2,Denmark,1992,15,32,0,429833,28655.53,2.0,0.0,0.0,0.0,Sweden,Denmark,Denmark,Germany
3,France,1984,15,41,3,599655,39977.00,2.0,0.0,0.0,0.0,France,France,France,Spain
4,France,2000,31,85,8,1126443,36336.87,2.0,1.0,0.0,0.0,Belgium Netherlands,France,France,Italy
5,Germany,1972,4,10,0,106510,26627.50,3.0,0.0,0.0,0.0,Belgium,Germany,Germany,Russia
6,Germany,1980,14,27,0,350655,25046.79,1.0,2.0,5.0,3.0,Italy,Germany,Belgium,Germany
7,Germany,1996,31,64,7,1276171,41166.81,1.0,2.0,0.0,0.0,England,Germany,Czechia,Germany
8,Greece,2004,31,77,6,1150802,37122.65,0.0,1.0,0.0,0.0,Portugal,Greece,Portugal,Greece
9,Italy,1968,5,7,1,260936,52187.20,2.0,0.0,0.0,0.0,Italy,Italy,Italy,Yugoslavia
10,Italy,2020,51,142,6,1100278,21574.08,1.0,1.0,3.0,2.0,England,Italy,Italy,England
11,Netherlands,1988,15,34,0,849844,56656.27,0.0,2.0,0.0,0.0,Germany,Netherlands,Russia,Netherlands
12,Portugal,2016,51,108,3,2427303,47594.18,1.0,0.0,0.0,0.0,France,Portugal,Portugal,France
13,Russia,1960,4,17,0,78958,19739.50,2.0,1.0,0.0,0.0,France,Russia,Russia,Yugoslavia
14,Spain,1964,4,13,0,156253,39063.25,2.0,1.0,0.0,0.0,Spain,Spain,Spain,Russia
15,Spain,2008,31,77,3,1143529,36888.03,0.0,1.0,0.0,0.0,Austria Switzerland,Spain,Germany,Spain
16,Spain,2012,31,76,3,1440613,46471.39,4.0,0.0,0.0,0.0,Poland Ukraine,Spain,Spain,Italy