In [368]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import warnings
def custom_warning_format(message, category, filename, lineno, file=None, line=None):
    return f'{filename}:{lineno}: {category.__name__}: {message}\n'

In [369]:
x1 = pd.read_csv('C:/Users/FRANK/Desktop/Proyectos Linkedin/Python Proyectos/Dia 7/euro_summary.csv', sep=';')
x2 = pd.read_csv('C:/Users/FRANK/Desktop/Proyectos Linkedin/Python Proyectos/Dia 7/Uefa Euro Cup General Statistics.csv', sep=';')
x3 = pd.read_csv('C:/Users/FRANK/Desktop/Proyectos Linkedin/Python Proyectos/Dia 7/Uefa Euro Cup Participated Teams General Statistics.csv')
x1.rename(columns={'Year': 'Year'}, inplace=True)
# Fusionar x1 y x2 usando la columna 'Year'
merged_1_2 = pd.merge(x1, x2, on='Year', how='outer')

In [370]:
print('Número de observaciones (filas) = {}'.format(merged_1_2.shape[0]))
print('Total de variables disponibles (columnas) = {} '.format(merged_1_2.columns.shape[0]))
print('Columnas que cuentan con un valor nulo -')
print(merged_1_2.isnull().sum())

Número de observaciones (filas) = 17
Total de variables disponibles (columnas) = 14
Columnas que cuentan con un valor nulo -
Year                         0
winner                       0
final                        0
result                       0
matches                      0
goals                        0
red_cards                    0
attendance                   0
attendance_avg               0
Host                         2
Champion                     2
Winning coach                2
Top scorer(s)                2
Player of the Tournament    11
dtype: int64

In [371]:
merged_1_2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17 entries, 0 to 16
Data columns (total 14 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Year                      17 non-null     int64
 1   winner                    17 non-null     object
 2   final                     17 non-null     object
 3   result                    17 non-null     object
 4   matches                   17 non-null     int64
 5   goals                     17 non-null     int64
 6   red_cards                 17 non-null     int64
 7   attendance                17 non-null     int64
 8   attendance_avg            17 non-null     float64
 9   Host                      15 non-null     object
 10  Champion                  15 non-null     object
 11  Winning coach             15 non-null     object
 12  Top scorer(s)             15 non-null     object
 13  Player of the Tournament  6 non-null      object
dtypes: float64(1), int64(5), object(8)
memory usage: 2.0+ KB

In [372]:
merged_1_2 = merged_1_2.drop(columns=['Winning coach','Top scorer(s)','Player of the Tournament'])

In [373]:
merged_1_2.loc[15,'Champion'] = 'Italy' 
merged_1_2.loc[15,'Host'] = 'England'
merged_1_2.loc[16,'Host'] = 'Germany'
merged_1_2[['winner', 'final']] = merged_1_2[['winner', 'final']].replace('USSR', 'Rusia')

In [374]:
merged_1_2.head(50)

,Year,winner,final,result,matches,goals,red_cards,attendance,attendance_avg,Host,Champion
0,1960,Rusia,USSR - Yugoslavia,(2 - 1),4,17,0,78958,19739.50,France,Soviet Union
1,1964,Spain,Spain - USSR,(2 - 1),4,13,0,156253,39063.25,Spain,Spain
2,1968,Italy,Italy - Yugoslavia,(2 - 0),5,7,1,260936,52187.20,Italy,Italy
3,1972,West Germany,West Germany - USSR,(3 - 0),4,10,0,106510,26627.50,Belgium,West Germany
4,1976,Czechoslovakia,Czechoslovakia - West Germany,2 - 2 (5 - 3),4,19,3,106087,26521.75,Yugoslavia,Czechoslovakia
5,1980,West Germany,Belgium - West Germany,(1 - 2),14,27,0,350655,25046.79,Italy,West Germany
6,1984,France,France - Spain,(2 - 0),15,41,3,599655,39977.00,France,France
7,1988,Netherlands,USSR - Netherlands,0 - 2,15,34,0,849844,56656.27,West Germany,Netherlands
8,1992,Denmark,Denmark - Germany,2 - 0,15,32,0,429833,28655.53,Sweden,Denmark
9,1996,Germany,Czechia - Germany,(1 - 2),31,64,7,1276171,41166.81,England,Germany
10,2000,France,France - Italy,(2 - 1),31,85,8,1126443,36336.87,Belgium Netherlands,France
11,2004,Greece,Portugal - Greece,0 - 1,31,77,6,1150802,37122.65,Portugal,Greece
12,2008,Spain,Germany - Spain,0 - 1,31,77,3,1143529,36888.03,Austria Switzerland,Spain
13,2012,Spain,Spain - Italy,4 - 0,31,76,3,1440613,46471.39,Poland Ukraine,Spain
14,2016,Portugal,Portugal - France,1 - 0,51,108,3,2427303,47594.18,France,Portugal
15,2020,Italy,Italy - England,1 - 1 (3 - 2),51,142,6,1100278,21574.08,England,Italy
16,2024,-,W49 - W50,- - -,51,0,0,0,0.00,Germany,NaN

In [375]:
# Remplazamos la palabra USSR por Rusia y Soviet Union por Rusia
merged_1_2[['team1', 'team2']] = merged_1_2['final'].str.split(' - ', expand=True)
merged_1_2[['team1','team2']] = merged_1_2[['team1','team2']].replace('USSR','Rusia')
merged_1_2[['team1','team2']] = merged_1_2[['team1','team2']].replace('USSR','Rusia')
merged_1_2[['Champion']] = merged_1_2[['Champion']].replace('Soviet Union','Rusia')
# Eliminamos la columna final
merged_1_2 = merged_1_2.drop(columns=['final'])

In [376]:
merged_1_2

,Year,winner,result,matches,goals,red_cards,attendance,attendance_avg,Host,Champion,team1,team2
0,1960,Rusia,(2 - 1),4,17,0,78958,19739.50,France,Rusia,Rusia,Yugoslavia
1,1964,Spain,(2 - 1),4,13,0,156253,39063.25,Spain,Spain,Spain,Rusia
2,1968,Italy,(2 - 0),5,7,1,260936,52187.20,Italy,Italy,Italy,Yugoslavia
3,1972,West Germany,(3 - 0),4,10,0,106510,26627.50,Belgium,West Germany,West Germany,Rusia
4,1976,Czechoslovakia,2 - 2 (5 - 3),4,19,3,106087,26521.75,Yugoslavia,Czechoslovakia,Czechoslovakia,West Germany
5,1980,West Germany,(1 - 2),14,27,0,350655,25046.79,Italy,West Germany,Belgium,West Germany
6,1984,France,(2 - 0),15,41,3,599655,39977.00,France,France,France,Spain
7,1988,Netherlands,0 - 2,15,34,0,849844,56656.27,West Germany,Netherlands,Rusia,Netherlands
8,1992,Denmark,2 - 0,15,32,0,429833,28655.53,Sweden,Denmark,Denmark,Germany
9,1996,Germany,(1 - 2),31,64,7,1276171,41166.81,England,Germany,Czechia,Germany
10,2000,France,(2 - 1),31,85,8,1126443,36336.87,Belgium Netherlands,France,France,Italy
11,2004,Greece,0 - 1,31,77,6,1150802,37122.65,Portugal,Greece,Portugal,Greece
12,2008,Spain,0 - 1,31,77,3,1143529,36888.03,Austria Switzerland,Spain,Germany,Spain
13,2012,Spain,4 - 0,31,76,3,1440613,46471.39,Poland Ukraine,Spain,Spain,Italy
14,2016,Portugal,1 - 0,51,108,3,2427303,47594.18,France,Portugal,Portugal,France
15,2020,Italy,1 - 1 (3 - 2),51,142,6,1100278,21574.08,England,Italy,Italy,England
16,2024,-,- - -,51,0,0,0,0.00,Germany,NaN,W49,W50

In [377]:
merged_1_2.head(50)

,Year,winner,result,matches,goals,red_cards,attendance,attendance_avg,Host,Champion,team1,team2
0,1960,Rusia,(2 - 1),4,17,0,78958,19739.50,France,Rusia,Rusia,Yugoslavia
1,1964,Spain,(2 - 1),4,13,0,156253,39063.25,Spain,Spain,Spain,Rusia
2,1968,Italy,(2 - 0),5,7,1,260936,52187.20,Italy,Italy,Italy,Yugoslavia
3,1972,West Germany,(3 - 0),4,10,0,106510,26627.50,Belgium,West Germany,West Germany,Rusia
4,1976,Czechoslovakia,2 - 2 (5 - 3),4,19,3,106087,26521.75,Yugoslavia,Czechoslovakia,Czechoslovakia,West Germany
5,1980,West Germany,(1 - 2),14,27,0,350655,25046.79,Italy,West Germany,Belgium,West Germany
6,1984,France,(2 - 0),15,41,3,599655,39977.00,France,France,France,Spain
7,1988,Netherlands,0 - 2,15,34,0,849844,56656.27,West Germany,Netherlands,Rusia,Netherlands
8,1992,Denmark,2 - 0,15,32,0,429833,28655.53,Sweden,Denmark,Denmark,Germany
9,1996,Germany,(1 - 2),31,64,7,1276171,41166.81,England,Germany,Czechia,Germany
10,2000,France,(2 - 1),31,85,8,1126443,36336.87,Belgium Netherlands,France,France,Italy
11,2004,Greece,0 - 1,31,77,6,1150802,37122.65,Portugal,Greece,Portugal,Greece
12,2008,Spain,0 - 1,31,77,3,1143529,36888.03,Austria Switzerland,Spain,Germany,Spain
13,2012,Spain,4 - 0,31,76,3,1440613,46471.39,Poland Ukraine,Spain,Spain,Italy
14,2016,Portugal,1 - 0,51,108,3,2427303,47594.18,France,Portugal,Portugal,France
15,2020,Italy,1 - 1 (3 - 2),51,142,6,1100278,21574.08,England,Italy,Italy,England
16,2024,-,- - -,51,0,0,0,0.00,Germany,NaN,W49,W50

In [378]:
merged_1_2[['penal_1','penal_2']] = merged_1_2[['penal_1','penal_2']].fillna(0)

KeyError: "None of [Index(['penal_1', 'penal_2'], dtype='object')] are in the [columns]"

In [ ]:
merged_1_2.head(50)

,Year,winner,matches,goals,red_cards,attendance,attendance_avg,Host,Champion,team1,team2,resul1,result2,penal_1,penal_2
0,1960,Rusia,4,17,0,78958,19739.50,France,Rusia,Rusia,Yugoslavia,NaN,NaN,0,0
1,1964,Spain,4,13,0,156253,39063.25,Spain,Spain,Spain,Rusia,NaN,NaN,0,0
2,1968,Italy,5,7,1,260936,52187.20,Italy,Italy,Italy,Yugoslavia,NaN,NaN,0,0
3,1972,Germany,4,10,0,106510,26627.50,Belgium,Germany,Germany,Rusia,NaN,NaN,0,0
4,1976,Czechoslovakia,4,19,3,106087,26521.75,Yugoslavia,Czechoslovakia,Czechoslovakia,Germany,NaN,NaN,0,0
5,1980,Germany,14,27,0,350655,25046.79,Italy,Germany,Belgium,Germany,NaN,NaN,0,0
6,1984,France,15,41,3,599655,39977.00,France,France,France,Spain,NaN,NaN,0,0
7,1988,Netherlands,15,34,0,849844,56656.27,Germany,Netherlands,Rusia,Netherlands,NaN,NaN,0,0
8,1992,Denmark,15,32,0,429833,28655.53,Sweden,Denmark,Denmark,Germany,NaN,NaN,0,0
9,1996,Germany,31,64,7,1276171,41166.81,England,Germany,Czechia,Germany,NaN,NaN,0,0
10,2000,France,31,85,8,1126443,36336.87,Belgium Netherlands,France,France,Italy,NaN,NaN,0,0
11,2004,Greece,31,77,6,1150802,37122.65,Portugal,Greece,Portugal,Greece,NaN,NaN,0,0
12,2008,Spain,31,77,3,1143529,36888.03,Austria Switzerland,Spain,Germany,Spain,NaN,NaN,0,0
13,2012,Spain,31,76,3,1440613,46471.39,Poland Ukraine,Spain,Spain,Italy,NaN,NaN,0,0
14,2016,Portugal,51,108,3,2427303,47594.18,France,Portugal,Portugal,France,NaN,NaN,0,0
15,2020,Italy,51,142,6,1100278,21574.08,England,Italy,Italy,England,NaN,NaN,0,0
16,2024,-,51,0,0,0,0.00,Germany,NaN,W49,W50,NaN,NaN,0,0

In [ ]:
merged_1_2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17 entries, 0 to 16
Data columns (total 15 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Year            17 non-null     int64
 1   winner          17 non-null     object
 2   matches         17 non-null     int64
 3   goals           17 non-null     int64
 4   red_cards       17 non-null     int64
 5   attendance      17 non-null     int64
 6   attendance_avg  17 non-null     float64
 7   Host            17 non-null     object
 8   Champion        16 non-null     object
 9   team1           17 non-null     object
 10  team2           17 non-null     object
 11  resul1          0 non-null      object
 12  result2         0 non-null      object
 13  penal_1         17 non-null     int64
 14  penal_2         17 non-null     int64
dtypes: float64(1), int64(7), object(7)
memory usage: 2.1+ KB

In [ ]:
columns_to_convert = ['resul1', 'result2', 'penal_1', 'penal_2']

# Convertir las columnas especificadas a float
for column in columns_to_convert: # bucle
    merged_1_2[column] = merged_1_2[column].astype(float)

In [ ]:
merged_1_2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17 entries, 0 to 16
Data columns (total 15 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Year            17 non-null     int64
 1   winner          17 non-null     object
 2   matches         17 non-null     int64
 3   goals           17 non-null     int64
 4   red_cards       17 non-null     int64
 5   attendance      17 non-null     int64
 6   attendance_avg  17 non-null     float64
 7   Host            17 non-null     object
 8   Champion        16 non-null     object
 9   team1           17 non-null     object
 10  team2           17 non-null     object
 11  resul1          0 non-null      float64
 12  result2         0 non-null      float64
 13  penal_1         17 non-null     float64
 14  penal_2         17 non-null     float64
dtypes: float64(5), int64(5), object(5)
memory usage: 2.1+ KB